.profileData__avatar {
    max-width: 187px;
    min-height: 187px;
    object-fit: cover;
    margin-right: 32px;
    border-radius: 100px;
    box-sizing: border-box;    
}

.profileData__avatar:hover {
    opacity: 0.2;
}

@media screen and (max-width:720px) {
    .profileData__avatar {
        margin-right: 12px;
    }
}