.FormComponent__input {
    display: flex;
    justify-content: space-between;
    background-color:#F8F8F8;
    box-sizing: border-box;
    color: #808185;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 8px
}

.FormComponent__input:focus {
  border-color: #2BE080;
  outline: 0;
  font-weight: 500;
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

@media screen and (max-width: 428px) {
  .FormComponent__input {
      min-width: 280px;
  }
}

@media screen and (max-width: 321px) {
  .FormComponent__input {
      min-width: 260px;
  }
}